*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.list-top{
    float: left;
    list-style-type: none;
}
.list-top li{
    float: left;
    padding: 0 10px;
}
.list-top li a{
    text-decoration: none;
}

